<form action="/planets/<%= @planet.id %>" method="POST">
  <div>
    <label class="post_label title">Title</label>
    <input id="form_title" type="text" name="title" placeholder="Enter a title" value="<%= @planet.title %>">
  </div>
  <br>
  <div>
    <label class="post_label title">Image</label>
    <textarea id="image_url" name="image" rows="1" cols="60" placeholder="Enter the image URL"><%= @planet.image %></textarea>
  </div>
  <br>
  <div>
    <label class="post_label body">Body</label>
    <textarea id="form_body" name="body" rows="4" cols="60" placeholder="The body of the post"><%= @planet.body %></textarea>
  </div>
  <br>
  <div>
    <label class="post_label moons">Moons</label>
    <textarea id="form_moons" name="moons" rows="4" cols="60" placeholder="The body of the post"><%= @planet.moons %></textarea>
  </div>
  <br>
  <div>
    <label class="post_label missions">Missions</label>
    <textarea id="form_missions" name="missions" rows="4" cols="60" placeholder="The body of the post"><%= @planet.missions %></textarea>
  </div>
  <br>
  <div>
    <input id="save_button" type="submit" value="Save planet">
  </div>
  <br>
  <% if(@planet.id) %>
    <input type="hidden" name="_method" value="PUT">
  <% end %>

</form>
