<form action="/planets/<%= @planet.id %>" method="POST">
  <div>
    <label>Title</label>
    <input id="form_title" type="text" name="title" placeholder="Enter a title" value="<%= @planet.title %>">
  </div>
  <br>
  <div>
    <label>Image</label>
    <textarea id="image_url" name="image" rows="1" cols="60" placeholder="Enter the image URL"><%= @planet.image %></textarea>
  </div>
  <br>
  <div>
    <label>Body</label>
    <textarea id="form_body" name="body" rows="8" cols="40" placeholder="The body of the post"><%= @planet.body %></textarea>
  </div>
  <br>
  <div>
    <label>Moons</label>
    <textarea id="form_moons" name="moons" rows="8" cols="40" placeholder="The body of the post"><%= @planet.moons %></textarea>
  </div>
  <br>
  <div>
    <label>Missions</label>
    <textarea id="form_missions" name="missions" rows="8" cols="40" placeholder="The body of the post"><%= @planet.missions %></textarea>
  </div>
  <br>
  <div>
    <input id="save_button" type="submit" value="Save planet">
  </div>
  <% if(@planet.id) %>
    <input type="hidden" name="_method" value="PUT">
  <% end %>

</form>
