<div class="asteroid_background">
  <h1 class="asteroid_title">Lookup Asteroid by ID</h1>
  <form id="user_search_id">
    <div class="form-group">
      <input id="id_search" type="text" name="id" class="form-control" placeholder="Search by ID" style="width:200px;">
    </div>
    <button id="id_button" type="submit" class="btn btn-default">Submit</button>
  </form>
  <br>
  <table class="table table-sm table-bordered">
    <tr>
      <td class="table_labels"> Id </td><td class="data" id="asteroid_lookup_id"> <%= @keys['neo_reference_id'] %> </td>
    </tr>
    <tr>
      <td class="table_labels"> Name </td><td class="data"> <%= @keys['name'] %> </td>
    </tr>
    <tr>
      <td class="table_labels"> Nasa URL </td><td class="data"> <%= @keys['nasa_jpl_url'] %> </td>
    </tr>
    <tr>
      <td class="table_labels"> Magnitude </td><td class="data"> <%= @keys['absolute_magnitude_h'] %> </td>
    </tr>
    <tr>
      <td class="table_labels"> Estimated min diameter</td><td class="data"> <%= @keys['estimated_diameter']['kilometers']['estimated_diameter_min'] %> km </td>
    </tr>
    <tr>
      <td class="table_labels"> Estimated max diameter </td><td class="data"> <%= @keys['estimated_diameter']['kilometers']['estimated_diameter_max'] %> km</td>
    </tr>
    <tr>
      <td class="table_labels"> Hazardous? </td><td class="data"> <%= @keys['is_potentially_hazardous_asteroid'] %> </td>
    </tr>
    <tr>
      <td class="table_labels"> Close Approach date </td><td class="data"> <%= @feed['close_approach_date'] %> </td>
    </tr>
    <tr>
      <td class="table_labels"> Epoch close Approach date </td><td class="data"> <%= @feed['epoch_date_close_approach'] %> </td>
    </tr>
    <tr>
      <td class="table_labels"> Velocity </td><td class="data"> <%= @feed['relative_velocity']['miles_per_hour'] %> mph</td>
    </tr>
    <tr>
      <td class="table_labels"> Miss distance </td><td class="data"> <%= @feed['miss_distance']['miles'] %> miles</td>
    </tr>
    <tr>
      <td class="table_labels"> Orbiting Body </td><td class="data"> <%= @feed['orbiting_body'] %></td>
    </tr>
  </table>
</div>
