<div class="center show_background">
  <h1><%= @planet.title %></h1>
  <br>
  <% if @planet.title == "Mars" %>
    <img id="showpage_image" src="<%= @planet.image %>" alt="" height="430";/>
  <% else %>
    <img id="showpage_image" src="<%= @planet.image %>" alt=""/>
  <% end %>
  <div class="show_body">
    <br>
    <h4 id="description"><%= @planet.body %></h4>
    <br>
    <h4><%= @planet.missions %></h4>
    <br>
    <h4><%= @planet.moons %></h4>
  </div>
  <a id="edit_planet" href="/planets/<%= @planet.id %>/edit">Edit</a>
  <form action="<%= @planet.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input id="delete_planet" type="submit" name="name" value="Delete">
  </form>
</div>
